<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sunkai.servicedemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".service.LocalService" />
        <service android:name=".service.IntentServiceTest" />
        <service
            android:name=".service.RemoteServiceAidl"
            android:process=":aidl" />
        <service
            android:name=".service.RemoteServiceMessage"
            android:process=":message" />
    </application>

</manifest>
